[submodule "kentwelcome/tmux-powerline"]
	path = tmux/tmux-powerline
	url = https://github.com/kentwelcome/tmux-powerline.git
[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "shell/powerline-shell"]
	path = shell/powerline-shell
	url = https://github.com/milkbikis/powerline-shell.git
[submodule "shell/nvm-fish-wrapper"]
	path = shell/nvm-fish-wrapper
	url = https://github.com/passcod/nvm-fish-wrapper.git
